/*
	© 2015 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/


.item-views-cell-navigable{
	@extend .table-flex-item-navigable;
	margin:$sc-base-margin * 2 0;
}

.item-views-cell-navigable-item-image{
	@extend .table-flex-tdfirst;
	@extend .column-type-image;
	img{
		width:100%;
	}
}

.item-views-cell-navigable-details {
	@extend .table-flex-middle-first;
	@extend .table-flex-middle-data;
}

.item-views-cell-navigable-amount {
	@extend .table-flex-middle-last;
	@extend .table-flex-middle-data;
}

.item-views-cell-navigable-value{
	@extend .sc-value;
}

.item-views-cell-navigable-sku-label,
.item-views-cell-navigable-sku-value{
	@extend .sku;
}

.item-views-cell-navigable-item-unit-price {
	@extend .table-flex-middle-data;
}

.item-views-cell-navigable-item-unit-price-value{
	@extend .sc-value;
}

.item-views-cell-navigable-item-unit-price-label{
	@extend .sc-label;
}

.item-views-cell-navigable-item-quantity-label{
	@extend .sc-label;
}

.item-views-cell-navigable-item-quantity{
	@extend .sc-value;
	@extend .table-flex-middle-data;
}

.item-views-cell-navigable-item-totalprice-label{
	@extend .sc-label;
}

.item-views-cell-navigable-item-amount-label{
	@extend .sc-label;
}

.item-views-cell-navigable-item-amount-value{
	@extend .middle-price;
}

.item-views-cell-navigable-item-old-price{
	@extend .old-price;
}

.item-views-cell-navigable-product-title{
	@extend .medium-title;
}

.item-views-cell-navigable-product-title-anchor{
	@extend .medium-title-navigable;
}

.item-views-cell-navigable-amount{
	@extend .column-type-amount;
	@extend .table-flex-middle-data;
	@extend .table-flex-middle-last;
	padding-bottom: $sc-base-padding * 3;
}

.item-views-cell-navigable-item-quantity-label,
.item-views-cell-navigable-item-unit-price-label,
.item-views-cell-navigable-item-amount-label{
	@media (min-width: $screen-md-min){
		display: none;
	}
}

.item-views-cell-navigable-header-col-amount {
	@extend .column-type-amount;
	display:block;
}

.item-views-cell-navigable-product-name{}
.item-views-cell-navigable-product-price{}
.item-views-cell-navigable-item-quantity-value{
	@extend .column-type-quantity;

	@media (min-width: $screen-md-min){
		display:block;
	}
}
.item-views-cell-navigable-item-reason-value{}

.item-views-cell-navigable-gender-container{
    margin-top: $sc-base-margin * 3;
    margin-bottom: $sc-base-margin * 3;
    background-color: $sc-color-theme-background-lightest;
}

.item-views-cell-navigable-gender-label{
    @extend .sc-label;
}

.item-views-cell-navigable-gender-value{
	font-weight: $sc-font-weight-semibold;
}
